project_files/bin/Debug/net9.0/ImageApp.deps.json
project_files/bin/Debug/net9.0/ImageApp.dll
project_files/bin/Debug/net9.0/ImageApp.exe
project_files/bin/Debug/net9.0/ImageApp.pdb
project_files/obj/Debug/net9.0/Avalonia/Resources.Inputs.cache
project_files/obj/Debug/net9.0/Avalonia/references
project_files/obj/Debug/net9.0/Avalonia/resources
project_files/obj/Debug/net9.0/ImageApp.AssemblyInfo.cs
project_files/obj/Debug/net9.0/ImageApp.AssemblyInfoInputs.cache
project_files/obj/Debug/net9.0/ImageApp.GeneratedMSBuildEditorConfig.editorconfig
project_files/obj/Debug/net9.0/ImageApp.GlobalUsings.g.cs
project_files/obj/Debug/net9.0/ImageApp.assets.cache
project_files/obj/Debug/net9.0/ImageApp.csproj.AssemblyReference.cache
project_files/obj/Debug/net9.0/ImageApp.csproj.CoreCompileInputs.cache
project_files/obj/Debug/net9.0/ImageApp.csproj.FileListAbsolute.txt
project_files/obj/Debug/net9.0/ImageApp.dll
project_files/obj/Debug/net9.0/ImageApp.genruntimeconfig.cache
project_files/obj/Debug/net9.0/ImageApp.pdb
project_files/obj/Debug/net9.0/apphost.exe
project_files/obj/Debug/net9.0/ref/ImageApp.dll
project_files/obj/Debug/net9.0/refint/ImageApp.dll
project_files/obj/ImageApp.csproj.nuget.dgspec.json
project_files/obj/ImageApp.csproj.nuget.g.props
project_files/obj/project.assets.json
project_files/obj/project.nuget.cache

processed.png
